page-home {
    .imagen-logo{
        width: 100%;
        text-align: center;
    }
    .centrar{
        margin-left: auto;
        margin-right: auto;
    }
    .back{
        background-color:transparent;
    }

}
